{% extends "base.html" %}
{% from 'heading.html' import heading %}

{% block content %}

<div class="card-wrapper">
    {{ heading(session, role) }}
    <div class="card-wrapper">
        <div class="card-table">
            <div class="table-preferences">
                <span>
                    <label for="date-of-service-from">Date of Service from</label>
                    <input class="datetimepicker" type="datetime-local" id="FilterDateFrom" name="date-of-service-from" onchange="filterDateFrom();"> 
                </span>
                <span>
                    <label for="date-of-service-to">Date of Service To</label>
                    <input class="datetimepicker" type="datetime-local" id="FilterDateTo" name="date-of-service-to" onchange="filterDateTo();"> 
                </span>
                <span>
                    <label for="ProviderID">Provider ID</label>
                    <select class="form-select" name="ProviderID" id="ProviderID" onchange="filterProv();">
                        {% for i in providerIds %}
                        <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <div class="center">
                <table class="table" id="entries">
                <tr>
                    {% for i in ['DateTimeFrom (DD/MM/AAAA HH:MM)','DateTimeTo (DD/MM/AAAA HH:MM)','ProviderId','ClientId','ProcedureCodeId','DateOfService (DD/MM/AAAA HH:MM)'] %}
                    <th>
                        {{i}}
                    </th>
                    {% endfor %}
                </tr>
                {% for entry in entries %}
                
                {% if entry['ProviderId'] == session['user']['providerId'] %}
                <tr class="table-success">
                {% else %} 
                <tr>
                {% endif %}
                    <td>{{ entry["ProviderId"] }}</td>
                    <td>{{ entry["ProcedureCodeId"] }}</td>
                    <td>{{ entry["TimeWorkedInHours"] }}</td>
                    <td>{{ entry["MeetingDuration"] }}</td>
                    <td>{{ entry["DateOfService"] }}</td>
                    <td>{{ entry["DateTimeFrom"] }}</td>
                    <td>{{ entry["DateTimeTo"] }}</td>
                    <td>{{ entry["Supervisor"] }}</td>
                    <td>{{ entry["ClientId"] }}</td>
                    <td>{{ entry["Group"] }}</td>
                    <td>{{ entry["Individual"] }}</td>
                    <td>{{ entry["ObservedwithClient"] }}</td>
                    <td>{{ entry["ModeofMeeting"] }}</td>
                </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}