{% extends "base.html" %} {% block content %}

<div class="card-wrapper">
  <div class="card-table">
    <div class="center">
      <form method="POST">
        <div class="user-edit">
          <div class="form-horizontal">
            <div
              class="d-flex flex-md-row flex-column justify-content text-center"
            >
              <div class="col-sm-4 col-md-offset-1">
                <label class="form-label" for="name">name</label>
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  value='{{
                user["name"] }}'
                />
              </div>
              <div class="col-sm-4 col-md-offset-1">
                <label class="form-label" for="email">email</label>
                <input
                  class="form-control"
                  type="text"
                  name="email"
                  value='{{user["email"] }}'
                />
              </div>
              <div class="col-sm-4 col-md-offset-1">
                <label class="form-label" for="password">password</label>
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  value=""
                />
              </div>
            </div>
          </div>
          <label class="form-label" for="first_name">first_name</label>
          <input
            class="form-control"
            type="text"
            name="first_name"
            value='{{
          user["first_name"] }}'
          />
          <label class="form-label" for="first_name">provider_id</label>
          <input
            class="form-control"
            type="text"
            name="provider_id"
            value='{{
          user["ProviderId"] }}'
          />
          <label class="form-label" for="last_name">last_name</label>
          <input
            class="form-control"
            type="text"
            name="last_name"
            value='{{
          user["last_name"] }}'
          />
          <label class="form-label" for="BACB_id">BACB_id</label>
          <input
            class="form-control"
            type="text"
            name="BACB_id"
            value='{{
          user["BACB_id"] }}'
          />
          <label class="form-label" for="credential">credential</label>
          <input
            class="form-control"
            type="text"
            name="credential"
            value='{{
          user["credential"] }}'
          />
          {% if admin == True %}
          <label class="form-label" for="role">role</label>
          <input
            class="form-control"
            type="text"
            name="role"
            value='{{
          user["role"] }}'
          />
          {% endif %}
          <label class="form-label" for="hired_date">hired_date</label>
          <input
            class="form-control"
            type="text"
            name="hired_date"
            value='{{
          user["hired_date"] }}'
          />
          <label class="form-label" for="fingerprint"
            >fingerprint_background</label
          >
          <input
            class="form-control"
            type="text"
            name="fingerprint"
            value='{{
          user["fingerprint_background"] }}'
          />
          <label class="form-label" for="background_date"
            >background_date</label
          >
          <input
            class="form-control"
            type="text"
            name="background_date"
            value='{{ user["background_date"] }}'
          />
          <label class="form-label" for="background_exp_date"
            >background_exp_date</label
          >
          <input
            class="form-control"
            type="text"
            name="background_exp_date"
            value='{{ user["background_exp_date"] }}'
          />
        </div>
        <div class="center">
          <a href="/" class="btn btn-danger">Cancel</a>
          <input
            style="float: left; margin: auto"
            type="submit"
            value="Submit"
            class="btn btn-primary"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
