{% macro heading(session, role, total_hours, supervised_hours, meeting_groups, minimum_supervised) %}
<div class="card">
    <h1 class="center">Dashboard</h1>
     <div class="center">
         <p>You are currently logged In</p>
         <a class="btn btn--secondary" href="/user/signout/">Sign Out</a>

         {% if role == 'admin' %}
         <a class="btn btn--secondary" href="/config/">Config</a>
         <a class="btn btn--secondary" href="/users/">Edit Users</a>
         {% endif %}

     </div>
 </div>

 <div class="card">
     <h2 class="center">
         Your Info
     </h2>
     <p>
         <strong>ID:</strong>{{ session['user']['_id'] }} <br>
         <strong>Name:</strong>{{ session['user']['name'] }} <br>
         <strong>Email:</strong>{{ session['user']['email'] }} <br>
         <strong>ProviderId:</strong>{{ session['user']['providerId'] }} <br>

     </p>
 </div>
 {% if role == 'admin' %}
 <div class="form-group card">
     <h1>Upload your CSV file</h1>
     <form method="POST" action="" enctype="multipart/form-data">
         <p><input class='form-control' type="file" accept=".csv" name="file"></p>
         <p><input class='btn btn-secondary' type="submit" value="Submit"></p>
     </form>
 </div>
 {% else %}
 <div class="form-group card">
    <h1>This Month Report Status:</h1>
    <p>Total Hours: {{total_hours}}</p>
    <p>Supervised Hours: {{supervised_hours}} / {{minimum_supervised}} </p>
    <p>Meeting Groups: {{meeting_groups}}/1 </p>
</div>

 {% endif %}
 
 </div>
{% endmacro %}