{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">

    {% if register == True %}
    <div class="card">
        <div class='center'>
            <img src="/static/Logo.jpg" alt="logo" class="logo">
        </div>
        <h1 class="center">Create Account</h1>
        <form name="signup_form" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" class="field" required>

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="providerId">ProviderId</label>
            <input type="text" name="providerId" class="field" required>

            <label for="providerId">Provider Type</label>
            <select name="providerType" class="field form-select">
                {% for i in types %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Sign Up" class="btn btn-primary">
        </form>
        <a class="center btn btn-secondary" href="/">Log In</a>
    </div>
    {% endif %}

    {% if register == False %}
    <div class="card">
        <div class='center'>
            <img src="/static/Logo.jpg" alt="logo" class="logo">
        </div>
        <h1 class="center">Login</h1>
        <form name="login_form" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Log In" class="btn btn-primary">
        </form>
        <a class="center btn btn-secondary" href="register/">Register</a>
    </div>
    {% endif %}

</div>
{% endblock %}