{% extends "base.html" %} {% block content %}
<div class="card-wrapper">
  <div class="card">
    {% if sent == True%}
    <p>Please check your emil</p>
    {% else %}
    <div class="center">
      <img src="/static/Logo.jpg" alt="logo" class="logo" />
    </div>
    <h1 class="center">Enter email</h1>
    <form name="pwd_reset" method="POST">
      <label for="email">Email</label>
      <input type="text" name="email" class="field" required />

      <input type="submit" value="Log In" class="btn btn-primary" />
    </form>
    {% endif%}
  </div>
</div>
