{% macro topnav(id,user ,session, role, total_hours, supervised_time,
meeting_group, minimum_supervised, year, month, report, observed_with_client,
missing, exp) %}

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/user/edit/{{id}}">Edit account</a>
  {% if role != None and role.lower() in ['admin', 'bcba', 'bcba (l)', 'bcaba']
  %}
  <a href="/manage_procedure_codes">Procedure Codes</a>
  {% endif %}
  <div class="center">
    {% if report == True %}
    <a
      href="/report/{{year}}/{{month}}/{{id}}"
      {%
      if
      not
      exp
      %}
      class="btn disabled"
      {%
      endif
      %}
      >Export PDF</a
    >
    {% endif %}
  </div>

  <div class="pull-right">
    <a class="" href="/user/signout">Sign Out</a>
  </div>
</div>

{% endmacro %}
