{% macro topnav(id,user ,session, role, total_hours, supervised_hours,
meeting_group, minimum_supervised, year, month, report, observed_with_client,
missing) %}

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/user/edit/{{id}}">Edit account</a>
  {% if role != None and role.lower() in ['admin', 'bcba', 'bcba (l)', 'bcaba']
  %}
  <a href="/manage_procedure_codes">Procedure Codes</a>
  {% endif %} {% if report == True and supervised_hours >= minimum_supervised
  and observed_with_client >= 1 %}
  <div class="center">
    <div class="disabled">
      <a href="/report/{{year}}/{{month}}/{{id}}" aria-disabled="true"
        >Export PDF</a
      >
    </div>
  </div>
  {% endif %}

  <div class="pull-right">
    <a class="" href="/user/signout">Sign Out</a>
  </div>
</div>

{% endmacro %}
